{% extends "base.html" %}

{% block body_class %}{{dashboard.slug}}{% endblock %}

{% block content %}

<div class="container py2 clearfix">

<h1>Hello, {{client_name}}!</h1>

<aside class="secondary col col-2 px2 py2">
<nav class="controls">
    <select id="metric" class="controls-dropdown">
    {% for metric_key in metric_keys %}
        <option value='{{metric_key.name}}'>{{metric_key.name}}</option>
    {% endfor %}
    </select>
    <div id="groups">
        <h3>Groups</h3>
    </div>
</nav>
</aside>

<div class="primary col col-10 px2 py2">
    <div class="col col-12 px2">
        <section class="card clearfix" id="charts">
            <h2 class="m0">Charts</h2>
        </section>
    </div>
    <div class="col col-4 px2">
        <section class="card clearfix" id="trends" data-trends='{{trends}}'>
            <h2 class="m0">Trends</h2>
        </section>
    </div>
    <div class="col col-8 px2">
        <section class="card clearfix" id="recommendations">
            <h2 class="m0">Recommendations</h2>
            {{recommendations|safe}}
        </section>
    </div>
</div>
</div>



{% endblock %}