@mixin video-container($aspectRatioA, $aspectRatioB) {
    position: relative;
    padding-bottom: (($aspectRatioB/$aspectRatioA) * 100) * 1%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}


.video-card {
  background:pink;
  @include video-container(16,9);
}

